<div class="container mt-5">
    <div class="row">
        <!--INPUT QUE OCUPA 8 COLUMNAS Y CENTRAMOS
        ngModel para lo que escribamos lo pueda añadir a la lista de abajo
        Keyup.enter llamara a la funcion agregarTarea del ts-->
        <div class="col-lg-8 offset-lg-2">
            <input type="text" [(ngModel)]="nombreTarea" (keyup.enter)="agregarTarea()" class="form-control form-control-lg" placeholder="Ingrese una tarea...">
        </div>
         <!--CARD DE TAREAS QUE OCUPA 6 COLUMNAS Y CENTRAMOS-->
        <div class="col-lg-6 offset-lg-3 mt-3">
            <!--p-2 padding de 2 deja espacios por todos lados
            solo lo mostramos si la lista esta vacia-->
            <div *ngIf="listTareas.length === 0" class="card p-2">
                <h6>No hay tareas para mostrar</h6>
            </div>
            <ul class="list-group">
                <!--recorremos la lista para mostrar las tareas-->
                <li *ngFor="let tarea of listTareas" class="list-group-item">
                    {{tarea.nombre}}
                </li>
            </ul>
        </div>
    </div>
</div>
